<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="MSPkgFeed" value="https://drdmohssine.pkgs.visualstudio.com/MSLibraries/_packaging/MSPkgFeed/nuget/v3/index.json" />
  </packageSources>

  <packageSourceMapping>

    <packageSource key="MSPkgFeed">
      <package pattern="packageId" />
    </packageSource>

    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>

  </packageSourceMapping>
</configuration>
