body {
}

/* Tooltip container */
.sn-tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
    .sn-tooltip .sn-tooltiptext {
        visibility: hidden;
        min-width: 200px;
        width: 300px;
        background-color: darkslategray;
        color: #f5f5f5;
        text-align: center;
        border-radius: 4px;
        border: 1px solid darkgray;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
       
    }

/* Position the first tooltip */

/* Position the second tooltip */
.sn-tooltip .sn-tooltiptext.sn-tooltip-download {
            bottom: 38%;
            left: 110%;
        }

.sn-tooltip .sn-tooltiptext.sn-tooltip-snoteapp {
            bottom: 62%;
            left: 110%;
        }

/* Show tooltip on hover */
.sn-tooltip:hover .sn-tooltiptext,
.sn-tooltip:focus .sn-tooltiptext {
        visibility: visible;
    }
