@inherits LayoutComponentBase
@using LearningMaps.Data;
@inject MapsData MapsSvs
@inject HttpClient Http


<div class="page" style=" background-image: linear-gradient(to right bottom, #5e92f3,#97aaf6,#c0c4f8,#e2e1fb,#ffffff);
        background-size: cover">
   
    <main>
        <div style="background-image: linear-gradient(to bottom right, #965a3e,#b97c7c,#cfa6b5,#e1d3e1,#ffffff);" class="d-flex flex-nowrap justify-content-center bg-white overflow-auto px-4 ">
            <div style="display:inline-block; height:40px">
                <Button  Class="text-white my-1 py-1"
                        Style="width:auto;height:30px;background-color:darkslategray"
                        @onclick='()=>{MapsSvs.FilterMaps("default"); }'
                        role="button">
                    All
                </Button>
                <Button Color="ButtonColor.Secondary" Class="text-white my-1 py-1"
                        Style="width:auto;height:30px;background-color:darkslategray"
                        @onclick='()=>{MapsSvs.FilterMaps("web development"); }'
                        role="button">
                    Web Development
                </Button>
                <Button Color="ButtonColor.Secondary" Class="text-white my-1 py-1"
                        Style="width:auto;height:30px;background-color:darkslategray"
                        @onclick='()=>{MapsSvs.FilterMaps("front-end"); }'
                        role="button">
                    Front-End
                </Button>
                <Button Color="ButtonColor.Secondary" Class="text-white my-1 py-1"
                        Style="width:auto;height:30px;background-color:darkslategray"
                        @onclick='()=>{MapsSvs.FilterMaps("back-end"); }'
                        role="button">
                    Back-End
                </Button>
                <Button Color="ButtonColor.Secondary" Class="text-white my-1 py-1"
                        Style="width:auto;height:30px;background-color:darkslategray"
                        @onclick='()=>{MapsSvs.FilterMaps("databases"); }'
                        role="button">
                    Databases
                </Button>
                <Button Color="ButtonColor.Secondary" Class="text-white my-1 py-1"
                        Style="width:auto;height:30px;background-color:darkslategray"
                        @onclick='()=>{MapsSvs.FilterMaps("dev tools"); }'
                        role="button">
                    Dev Tools
                </Button>
                <Button Color="ButtonColor.Secondary" Class="text-white my-1 py-1"
                        Style="width:auto;height:30px;background-color:darkslategray"
                        @onclick='()=>{MapsSvs.FilterMaps("mathematics"); }'
                        role="button">
                    Mathematics
                </Button>
                <Button Color="ButtonColor.Secondary" Class="text-white my-1 py-1"
                        Style="width:auto;height:30px;background-color:darkslategray"
                        @onclick='()=>{MapsSvs.FilterMaps("python"); }'
                        role="button">
                    Python
                </Button>

                <Button Color="ButtonColor.Secondary" Class="text-white my-1 py-1"
                        Style="width:auto;height:30px;background-color:darkslategray"
                        @onclick='()=>{MapsSvs.FilterMaps("machine learning"); }'
                        role="button">
                    Machine Learning
                </Button>
                <Button Color="ButtonColor.Secondary" Class="text-white my-1 py-1"
                        Style="width:auto;height:30px;background-color:darkslategray"
                        @onclick='()=>{MapsSvs.FilterMaps("data science"); }'
                        role="button">
                    Data Science
                </Button>
                <Button Color="ButtonColor.Secondary" Class="text-white my-1 py-1"
                        Style="width:auto;height:30px;background-color:darkslategray"
                        @onclick='()=>{MapsSvs.FilterMaps("english"); }'
                        role="button">
                    English
                </Button>
                <Button Color="ButtonColor.Secondary" Class="text-white my-1 py-1"
                        Style="width:auto;height:30px;background-color:darkslategray"
                        @onclick='()=>{MapsSvs.FilterMaps("cicd"); }'
                        role="button">
                    CI/CD
                </Button>
                <Button Color="ButtonColor.Secondary" Class="text-white my-1 py-1"
                        Style="width:auto;height:30px;background-color:darkslategray"
                        @onclick='()=>{MapsSvs.FilterMaps("scraping"); }'
                        role="button">
                    Scraping
                </Button>
              

            </div>
        </div>

        <article class="content px-4 py-2">
           
                @Body
            

        </article>
    </main>
</div>
                